/*===============CSS Reset===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans';
    margin-left: 5%;
    margin-right: 5% 
}

nav {
    position:sticky;
    top: 0px;
}

.right-nav .nav, ul .nav-logo {
    margin: 0.5rem;
    display: inline;
}

.right-nav {
    position: absolute;
    top: 0;
    right: 0;
}

ul {
    list-style-type: none;
}
li {
    padding-left: 20px;
}

.tuitt-button, .apply-button {
    background-color: #c2195b;
    padding: 4px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: white;
}

.front-bg {
    background-color:black;
}
.container {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    width:100%;
    background-position: center center;
    background-size: 100%;
    opacity: 50%;
    height: 40vh;
}


.title {
    font-family: 'Zilla Slab';
    text-align: right;
    width: 32vw;
    font-size: 2em;
    color: white;
    object-position: right;
}

.subtitle {
    text-align: right;
    width: 25vw;
    font-size: 0.8em;
    font-weight: lighter;
    color: white;
}